@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-image: linear-gradient(pink, peachpuff, white);
  min-height: 720px;
  width: 100%;
}

#wrapper {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  input,
  button {
    border: none;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
  }
}

h1 {
  font-weight: 400;
  color: deeppink;
  width: 500px;
  margin: 0 auto;
}
#inputField {
  border-radius: 7px 0px 0px 7px;
  width: 460px;
}
#addButton {
  border-radius: 0px 7px 7px 0px;
  cursor: pointer;
  background-color: gold;

  input:hover {
    background-color: brown;
    color: white;
  }
}

#toDoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 500px;
  margin: 0 auto;

  p {
    word-wrap: break-word;
    width: 440px;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 7px 0px 0px 7px;
    text-align: left;
    background-color: white;
    border-bottom: 2px solid cyan;
  }
  .del {
    text-align: center;
    border: none;
    border-bottom: 2px solid cyan;
    background-color: green;
    color: azure;
    font-weight: 700;
    font-size: medium;
    padding: 20px;
    width: 50px;
    min-height: 10px;
    background-color: red;
    border-radius: 0px 7px 7px 0px;
  }
}
