* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(pink, peachpuff, white);
  min-height: 720px;
  width: 100%;
}
#wrapper {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-weight: 400;
  color: deeppink;
  margin-left: 600px;
}
#wrapper input,
button {
  border: none;
  font-size: 20px;
  margin: 0px;
  padding: 10px;
}
#inputField {
  border-radius: 7px 0px 0px 7px;
  width: 440px;
}
#addButton {
  border-radius: 0px 7px 7px 0px;
  cursor: pointer;
  background-color: gold;
}
#addButton input:hover {
  background-color: brown;
  color: white;
}
#toDoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 300px;
  margin: 0px 20px;
}
#toDoContainer p {
  word-wrap: break-word;
  margin-left: 500px;
  padding: 10px;
  width: 380px;
  font-size: 20px;
  border-radius: 7px 0px 0px 7px;
  text-align: justify;
  background-color: white;
  border-bottom: 2px solid cyan;
}
#toDoContainer .del {
  text-align: center;
  border: none;
  border-bottom: 2px solid cyan;
  background-color: green;
  color: azure;
  font-weight: 700;
  font-size: medium;
  padding: 20px;
  width: 50px;
  min-height: 10px;
  background-color: red;
  border-radius: 0px 7px 7px 0px;
}
